.consumerUnitForm {
  margin-top: 15px;
}

label > strong {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 100px;
  margin-right: 6px;
  font-size: 15px;
}

.consumerUnitForm input, textarea {
  padding: 2px 0 3px 3px;
  width: 400px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  width: 13px;
}

button[type="submit"] {
  align-self: baseline;
  width: 250px;
  height: 55px;  
  background-color: #61dafb;
  color: #505050;
  padding: .7em 1.2em;
  text-decoration: none;
  transition: .5s;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  transition: .5s;
}

button[type="submit"]:hover {
  background: #55FAC3;
}