.listTable {
  width: 70%;
  border-collapse: collapse;  
  border-spacing: 0;
  margin: 0 auto;
  margin-left: 300px;
}

.listTable td {
  background-color: #f7f7f7;
  padding: 2em;
}

.listTable thead {  
  border-bottom: 1px solid #ddd;
}

.listTable thead th {
  padding: 1em;
  text-align: center;
  font-weight: bold;
}

.buttonContainer {
  padding-right: 7em;
  text-align: right;
  margin-top: 20px;
}

.buttonContainer button {
  align-self: baseline;
  width: 250px;
  height: 55px;  
  background-color: #61dafb;
  color: #505050;
  padding: .7em 1.2em;
  text-decoration: none;
  transition: .5s;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  transition: .5s;
}

.buttonContainer button:hover {
  background: #55FAC3;
}