.sidebar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidebar ul {
  align-items: center;
  list-style-type: none;
  padding: 1em;
  margin: 0;
}

.sidebar li {
  margin-bottom: 1em;
}

.sidebar button {
  width: 70%;
  height: 55px;  
  background-color: #fff;
  color: #505050;
  padding: .7em 1.2em;
  text-decoration: none;
  transition: .5s;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}

.sidebar button:hover {
  background: #19D496;;
  color: #fff;
}